@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

.wrapper{
  width:1200px;
  margin: auto;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul{
  list-style-type: none;
  padding-left: 0%;
}

a{
  text-decoration: none;
}

.user-link-search{
  background-image: url(../images/icon-search.svg);
  width:18px;
  height:18px;
  display: block;
}

.user-link-favorites{
  background-image: url(../images/icon-in-favorites.svg);
  width:18px;
  height:18px;
  display: block;
}

.user-favorites-num{
  background-color:#7DB54F;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  width:20px;
  height:20px;
  display: block;
  color: #ffffff;
  border-radius: 20px;
}

.button{
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  }

.user-button{
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color:#756157;
  display: block;
  width: 160px;
  height: 36px;

}

.hero{
background-color: #d7eaf1;
background-image: url(../images/background-header.png);
background-repeat: no-repeat;
width: 1200px;
height: 485px;
}

.navigation-list{
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.navigation-link{
color: #000000;
}

.main-page-title{
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #000000;
margin-top: 0;
}


.advantages-item-title,
.services-item-title
{
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: 0;
}

.advantages-item{
  width: 400px;
  height: 385px;
}

.-item:first-child{
  background-color:#ffffff;
}

.advantages-item:nth-child(3){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:last-child{
  background-color:#ffffff;
}

.advantages-item-image-content{
  display:block;
}

.services-list{
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item{
  width: 400px;
  height: 385px;
}

.services-item:nth-child(2){
  background-color: #ffffff;
}

.description-text{
font-size: 22px;
line-height: 26px;
}

.main-page-text{
font-size: 18px;
line-height: 21px;
}

.advantages-item-content{
  background-color: #82B3D3;
  height: 385px;
  width: 1200px;
}

.advantages-description{

  height:261px;
}

.advantages-item-title-content{
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #ffffff;
}

.advantages-item-text-content{
font-size: 18px;
line-height: 21px;
color: #ffffff;
}

.subscribe-title,
.subscribe-text
{
color: #ffffff;
}

.phone{
color: #000000;
font-size: 40px;
line-height: 40px;
}

.filter{
background-color:#deecf5;
background-image: url(../images/background-filter.png);
background-repeat: no-repeat;
color: #ffffff;
}

.main-inner-title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
}

.bread-crumbs-link-hotels{
font-size: 16px;
line-height: 21px;
color: #ffffff;
}

.bread-crumbs-link-page{
background-image: url(../images/icon-bread-crumbs.svg);
display:block;
width: 12px;
height: 12px;
}

.filter-title{
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.label-inf,
.label-housing
{
font-weight: 400;
font-size: 18px;
line-height: 23px;
}
