@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100%;
}

body{
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  color: #333333;
  background-color: #f2f2f2;
}

.wrapper{
  width:1200px;
  margin: auto;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-header{
  display: flex;
  padding: 0 70px
}

.main-navigation{
  display: flex;
  flex-basis: 1200px;
  height: 64px;
  justify-content: space-between;
}

.navigation-list{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
  margin: 0;
}

.logo{
  display: inline-block;
}

.navigation-link{
  color: #000000;
  text-decoration: none;
}

.user-list{
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

.user-link-search{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;

}

.user-link-favorites{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../images/icon-in-favorites.svg);
  background-repeat: no-repeat;

  text-decoration: none;

}

.user-favorites-num{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.user-button{
  display: flex;
  width: 160px;
  height: 36px;
  border-radius:4px;
  justify-content: center;
  align-items: center;
}

.button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border: none;

}

.user-button,
.search-button,
.product-card-more
{
  background-color: #756157;
}

.button-second{
  background-color: #82B3D3;
}

/* --------------------------------------------------------------------- */

.hero{
  background-color: #d9eaf2;
  background-image: url(../images/background-header.png);
  background-repeat: no-repeat;
  width:1200px;
  height: 485px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome{
  display: inline-block;
  margin: auto;
}

.divider{
  background-image: url(../images/divider.svg);
  width: 1200px;
  height: 57px;

}

.advantages{
  display: flex;
  flex-direction: column;
}

.advantages-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 261px;

}

.main-page-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.description-text{
  font-size: 22px;
  line-height: 26px;
}

.item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.main-page-text{
  margin: 0;
}

.advantages-wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  row-gap: 81px;
}

.advantages-item{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 385px;
  justify-content: center;
  align-items: center;
  row-gap: 81px;

}

.advantages-item-text{
  text-align: center;
  margin: 0;
}

.advantages-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item-image-content{
  display: inline-block;
  vertical-align: baseline;
}

.advantages-item-title-content,
.advantages-item-text-content
{
  color:#ffffff;
}

.advantages-item-content{
  background-color: #82B3D3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 385px;
}

.advantages-list :nth-of-type(3){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list :nth-of-type(2),
.advantages-list :nth-of-type(4)
{
  background-color: rgba(131, 179, 211, 0.12);
}

/* ----------------------------------------------------------- */

.services{
  display: flex;
  flex-direction: column;
}

.services-description{
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.services-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.services-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height:385px;
  row-gap: 30px;

}

.services-item-home{
  background-image: url(../images/icon-home.svg);
  background-repeat: no-repeat;
  background-position: top 81px left 162px;
}

.services-item-food{
  background-image: url(../images/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: top 81px left 162px;
}

.services-item-souvenir{
  background-image: url(../images/icon-present.svg);
  background-repeat: no-repeat;
  background-position: top 81px left 162px;
}

.services-item-text{
  text-align: center;
  margin-bottom: 81px;
}

.services-item:first-child{
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2){
  background-color: #ffffff;
}

.services-item:last-child{
  background-color: rgba(131, 179, 211, 0.12);
}

/* ---------------------------------------------------------------------- */

.search{
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-description-text{
  text-align: center;
}

.search-button{
  font-size: 20px;
  line-height: 36px;
  display: flex;
  width: 376px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.subscribe{
  background-color: #82B3D3;
  background-image: url(../images/background-subscribe.png);
  width: 1200px;
  min-height: 415px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-form{
  display: flex;
}

.subscribe-title,
.subscribe-text
{
  color:#ffffff;
}

.subscribe-input{
  font-size: 18px;
  line-height: 24px;
  border: none;
  width: 452px;
  height: 52px;
  padding-left: 20px;
}

.subscribe-button{
  width: 232px;
}

.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  padding:0 70px 0 70px;
}

.social{
  display: inherit;
}

.social-list{
  list-style: none;
  padding: 0;
  display: flex;
}

.social-link-vk{
  display: inline-block;
  width: 48px;
  height: 40px;
  background-image: url(../images/social/icon-socal-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-tg{
  display: inline-block;
  width: 48px;
  height: 40px;
  background-image: url(../images/social/icon-socal-telegram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-youtube{
  display: inline-block;
  width: 48px;
  height: 40px;
  background-image: url(../images/social/icon-socal-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.phone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.developer{
  display: inline-block;
  background-image: url(../images/developer.svg);
  width: 115px;
  height: 33px;
}

/*------------------------- Catalog -------------------------*/

.filter{
  background-color: #7fbaff;
  background-image: url(../images/background-filter.png);
  background-size: cover;
  color:#ffffff;
}

.filter-form-group{
  border: none;
}

.main-inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.bread-crumbs-link{
  text-decoration: none;
  color:#ffffff;
  font-size: 16px;
  line-height: 21px;
}

.input-price{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.label-price{
  line-height: 24px;
  color:#000000;
}

.button-reset{
  border:none;
  background: none;
}

.search-results-title{
  font-size: 30px;
  line-height: 36px;
  color:#000000;
}

.product-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  text-decoration: none;
}

.product-card-in-favorites{
  background-color: #7DB54F;
}

.pagination-item{
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
}

.pagination-item-current{
  background-color:rgba(242, 242, 242, 1);
}

.pagination-link{
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current{
  color:#000000;
}

.pagination-item-points{
  background:none;
}


.pagination-points{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#000000;
}

.subscribe-inner{
  background: none;
}
