@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.navigation-list{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link{
  color: #000000;
  text-decoration: none;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

}

.user-button,
.search-button
{
  background-color: #756157;
}

.button-light{
  background-color: #82B3D3;
  border: none;
}

.hero{
  background-color: #d9eaf2;
  background-image: url(../images/background-header.png);
  background-repeat: no-repeat;
  width:1200px;
  height:485px;
}

.main-page-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description-text{
  font-size: 22px;
  line-height: 26px;
}

.item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-image-content{
  display: block;
}

.advantages-item-title-content,
.advantages-item-text-content
{
  color:#ffffff;
}

.advantages-item-content{
  background-color: #82B3D3;
}

.advantages-list :nth-of-type(3){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list :nth-of-type(2),
.advantages-list :nth-of-type(4)
{
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:first-child{
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2){
  background-color: #ffffff;
}

.services-item:last-child{
  background-color: rgba(131, 179, 211, 0.12);
}
